/* ----------------------------------

Template Name: Softing - Software Landing Page
Author: validtheme
Version: 1.6

-------------------------------------

Table of contents
        
    01. Google font
    02. Reset
    03. Typography
    04. Background color
    05. Custom
    06. Button
    07. Border
    08. Aside style
    09. Video
    10. Background image
    11. Icon
    12. Magnific popup
    13. Header
    14. Page title
    15. Swiper carousel
    16. Slider and parallax typography
    17. Portfolio
    18. Elements
    19. Blog
    20. Footer
    21. Home Page
    22. Services Page
    23. About Page
    24. Projects Page
    25. Pricing Page
    26. PHP Contact Form
    27. Others

*/


/*
** General Styles for HTML tags
*/

* {
  padding: 0;
  margin: 0;
}

html {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: visible;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  overflow-x: hidden;
  background-color: #ffffff;
}

html, body, .wrapper {
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  color: #232323;
  font-weight: normal;
  line-height: 1.2;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0;
  margin: 0;
}

h1,h2,h3,h4 {
  margin-bottom: 15px;
}

h5,h5 {
  margin-bottom: 10px;
}

.h1,h1{font-size:36px}
.h2,h2{font-size:30px}
.h3,h3{font-size:24px}
.h4,h4{font-size:18px}
.h5,h5{font-size:14px}
.h6,h6{font-size:12px}


img {
  border: none;
  outline: none;
  max-width: 100%;
}

label {
  display: inline-block;
  font-weight: normal;
  margin-bottom: 5px;
  max-width: 100%;
}

a, .btn, button {
  transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  outline: medium none;
}

a img, iframe {
  border: none;
}

p {
  color: #232323;
  line-height: 26px;
  margin: 0 0 15px;
  text-transform: none;
  font-weight: 400;
}

hr {
  margin-top: 0;
  margin-bottom: 0;
  border: 0;
  border-top: 1px solid #eee;
}

pre {
  display: block;
  margin: 0 0 30px;
  padding: 9.5px;
  word-wrap: break-word;
  word-break: break-all;
  color: #333;
  border: 1px solid #ededed;
  border-radius: inherit;
  background-color: #f9f9f9;
  font-size: 13px;
  line-height: 1.42857143;
}

input:focus, textarea:focus, 
 select:focus {
  outline: none;
  box-shadow: inherit;
}

ul {
  margin: 0;
  list-style-type: none;
}

a, a:active, a:focus, a:hover {
  outline: none;
  text-decoration: none;
  color: #232323;
}

a:hover {
  color: #232323;
}

a {
  transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

b, strong {
  font-weight: 900;
}

.btn.active, .btn:active {
  background-image: inherit !important;
}

.btn.focus, 
 .btn:active:focus, 
 .btn:active:hover, 
 .btn:focus, 
 .btn:hover {
  outline: 0;
}

.btn.circle {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}

.btn.active, .btn:active {
  outline: 0;
  -webkit-box-shadow: inherit;
  box-shadow: inherit;
}

input {
  border: 1px solid #e7e7e7;
  border-radius: inherit;
  box-shadow: inherit;
  min-height: 50px;
}
/* Default CSS */
.container-half {
  margin: 0 auto;
  width: 60%;
  padding: 0 15px;
}

.bg-cover {
  background-position: center center;
  background-size: cover;
}

.bg-fixed {
  background-attachment: fixed;
  background-position: center top;
  background-size: cover;
}

.bg-gray {
  background-color: #f9f9f9;
}

.bg-theme-small {
  background-color: #edf5ff;
}

.bg-light {
  background-color: #ffffff !important;
}

.bg-theme {
  background-color: #4ac4f3;
}

.text-light h1, 
 .text-light h2, 
 .text-light h3, 
 .text-light h4, 
 .text-light h5, 
 .text-light h6, 
 .text-light p, 
 .text-light a {
  color: #ffffff;
}

.shadow {
  position: relative;
  z-index: 1;
}

.shadow.dark::after {
  background: #000000 none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0.5;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.shadow.dark-hard::after {
  background: #232323 none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0.75;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.shadow.light::after {
  background: #ffffff none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0.3;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.shadow.theme::after {
  background: #4ac4f3 none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0.5;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.shadow.theme-hard::after {
  background: #4ac4f3 none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0.7;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.default-padding {
  padding-top: 120px;
  padding-bottom: 120px;
}

.default-padding-top {
  padding-top: 120px;
}

.default-padding-bottom {
  padding-bottom: 120px;
}

.default-padding.bottom-less {
  padding-top: 120px;
  padding-bottom: 90px;
}

.default-padding.bottom-30 {
  padding-top: 120px;
  padding-bottom: 70px;
}

.default-padding.bottom-20 {
  padding-top: 120px;
  padding-bottom: 60px;
}

.padding-xl {
  padding-top: 180px;
  padding-bottom: 180px;
}

.carousel-shadow {
  padding-bottom: 105px;
}

.btn {
  display: inline-block;
  font-family: "Poppins",sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 25px;
  text-transform: uppercase;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  font-weight: 700;
  letter-spacing: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
}

.btn-md {
  padding: 15px 50px 15px;
}

.btn-sm {
  padding: 12px 40px;
  font-size: 12px;
}

.btn.btn-sm-pro {
  font-size: 10px;
  font-weight: 600;
  margin-top: 5px;
  padding: 4px 35px;
  display: inline-block;
}

.btn-border-light {
  border: 2px solid #ffffff !important;
}

.btn.btn-sm-pro.btn-border-light:hover, 
 .btn.btn-sm-pro.btn-border-light:focus {
  background-color: #ffffff;
  color: #232323;
  border: 2px solid #ffffff !important;
}

.btn-dark {
  background-color: #232323;
  color: #ffffff;
  border: 2px solid #232323 !important;
}

.btn-dark.border {
  background-color: transparent;
  color: #232323;
  border: 2px solid #232323 !important;
}

.btn-dark.border:hover {
  background-color: #232323;
  color: #ffffff !important;
  border: 2px solid #232323 !important;
}




.btn-gray {
  background-color: tranparent;
  color: #4ac4f3;
  border: 2px solid #e7e7e7 !important;
}

.btn-gray.border {
  background-color: transparent;
  color: #4ac4f3;
  border: 2px solid #e7e7e7 !important;
}

.btn-gray.border:hover {
  background-color: #4ac4f3;
  color: #ffffff !important;
  border: 2px solid #4ac4f3 !important;
}



.btn.btn-light {
  background: #ffffff none repeat scroll 0 0;
  border: 2px solid #ffffff !important;
  color: #232323;
}

.btn.btn-light:hover, 
 .btn.btn-light:focus {
  background: transparent none repeat scroll 0 0;
  border: 2px solid #ffffff !important;
  color: #ffffff;
}

.btn.btn-light.effect:hover, 
 .btn.btn-light.effect:focus {
  background-color: #4ac4f3;
  color: #ffffff !important;
  border: 2px solid #4ac4f3 !important;
}

.btn.btn-light.border {
  background: transparent;
  border: 2px solid #ffffff !important;
  color: #ffffff;
}

.btn.btn-light.border:hover {
  background: #ffffff none repeat scroll 0 0 !important;
  border: 2px solid #ffffff !important;
  color: #232323 !important;
}

.btn-dark:hover, 
 .btn-dark:focus {
  color: #232323 !important;
  background: transparent;
}

.bg-dark {
  background: #1d2024 none repeat scroll 0 0 !important;
}

.bg-gradient {
  background: linear-gradient(to bottom, #ffffff 1%,#4ac4f3 100%);
}

.bg-gradient-theme {
    background: linear-gradient(90deg, rgba(19,146,195,1) 32%, rgba(74,196,243,1) 82%);
}

.btn-theme {
  background-color: #4ac4f3;
  color: #ffffff !important;
  border: 2px solid #4ac4f3 !important;
}

.btn-theme.border {
  background-color: transparent;
  color: #4ac4f3 !important;
  border: 2px solid #4ac4f3 !important;
}

.btn-theme.border:hover {
  background-color: #4ac4f3;
  color: #ffffff !important;
  border: 2px solid #4ac4f3 !important;
}

.btn-theme.effect:hover, 
 .btn-theme.effect:focus {
  background: #4ac4f3 none repeat scroll 0 0;
  border: 2px solid #4ac4f3 !important;
  color: #ffffff;
}

.btn.btn-sm-lm {
  font-size: 12px;
  padding: 4px 35px;
}

.btn.border.btn-light.standard {
  padding-left: 20px;
  padding-right: 50px;
  position: relative;
  z-index: 1;
}

.btn.border.btn-light.standard::after {
  background: #ffffff none repeat scroll 0 0;
  content: "";
  height: 53px;
  position: absolute;
  right: -18px;
  top: -10px;
  transform: skewX(20deg);
  -webkit-transform: skewX(20deg);
  -moz-transform: skewX(20deg);
  -ms-transform: skewX(20deg);
  -o-transform: skewX(20deg);
  width: 50px;
  z-index: -1;
}

.btn.border.btn-light.standard::before {
  color: #4ac4f3;
  content: "\f061";
  font-family: "Font Awesome 5 Free";
  height: 100%;
  position: absolute;
  right: 0;
  width: 25px;
}

.bg-fixed {
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}

.bg-cover {
  background-position: center center;
  background-size: cover;
}

.container-full {
  padding: 0 15px;
  width: 100%;
}

.container-fill {
  padding: 0 15px;
  margin: auto;
  max-width: 100%;
}

@media (min-width:576px) {
  .container-fill {
    max-width: 540px;
  }
}

@media (min-width:768px) {
  .container-fill {
    max-width: 720px;
  }
}

@media (min-width:992px) {
  .container-fill {
    max-width: 960px;
  }
}

@media (min-width:1200px) {
  .container-fill {
    width: 90%;
    max-width: 1400px;
  }
}

@media (max-width:1199px) {
  .container-fill {
    padding: 0 15px;
  }
}

.oh {
  overflow: hidden;
}

.less-margin {
  margin: 0;
}

.mar-top-less {
    margin-top: -80px;
}

header {
  position: relative;
}

header nav.navbar.border.bootsnav.navbar-fixed.no-background {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

header nav.navbar.border.bootsnav.navbar-fixed.no-background ul li a {
  position: relative;
  z-index: 1;
  margin-left: 3px;
}

header nav.navbar.border.bootsnav.navbar-fixed.no-background .attr-nav ul li a {
  border: medium none;
}

header nav.navbar.border.bootsnav.navbar-fixed.no-background ul li a::after {
  background: #ffffff none repeat scroll 0 0;
  bottom: -2px;
  content: "";
  height: 3px;
  left: 0;
  position: absolute;
  width: 0;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

header nav.navbar.border.bootsnav.navbar-fixed.no-background ul li a.active::after,
header nav.navbar.border.bootsnav.navbar-fixed.no-background ul li a:hover::after {
  width: 100%;
}

header nav.navbar.border.bootsnav.navbar-fixed.no-background .attr-nav ul li a.active::after,
header nav.navbar.border.bootsnav.navbar-fixed.no-background .attr-nav ul li a:hover::after {
  width: 0;
}

.attr-nav .social.right li {
  margin-left: 20px;
}

.attr-nav .social li a {
  font-size: 16px;
}

/* Navbar */
nav.bootsnav.navbar-default.info-topbar .navbar-header {
  display: none;
}

nav.bootsnav.navbar-default.info-topbar ul li a {
  margin-right: 30px;
  padding: 35px 0;
}

nav.bootsnav.navbar-default.info-topbar.active-full ul li a {
  margin-right: 0;
  padding: 35px 20px;
}

.attr-nav > a.btn-theme.effect:hover, 
.attr-nav > a.btn-theme.effect, 
.attr-nav > a.btn-theme.effect:focus {
  background: #4ac4f3 none repeat scroll 0 0;
  border: 2px solid #4ac4f3;
  color: #ffffff !important;
}

nav.bootsnav.navbar-default.info-topbar.sticked ul li a {
  margin-right: 30px;
  padding: 35px 0;
}

.attr-nav.social li {
  display: inline-block;
  padding: 25px 0 !important;
  transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

.attr-nav.social li a {
  border: 1px solid #f4f4f4;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  color: #4ac4f3;
  display: inline-block;
  font-size: 14px;
  height: 40px;
  line-height: 40px;
  margin-left: 10px;
  padding: 0 !important;
  text-align: center;
  width: 40px;
}

nav.navbar.bootsnav.sticked .attr-nav.social li {
  display: inline-block;
  padding: 20px 0 !important;
}

.site-heading h2 {
  display: inline-block;
  font-weight: 700;
  padding-bottom: 20px;
  position: relative;
  text-transform: uppercase;
}

.site-heading.clean h2 {
  padding-bottom: 0;
}

.site-heading.clean h2 span {
  color: #4ac4f3;
}

.site-heading h2 span {
  color: #4ac4f3;
}

.site-heading.barber h2 span {
  color: #bc9355;
}

.site-heading p {
  margin: 0;
}

.site-heading.clean h2::after,
.site-heading.clean h2::before {
  display: none;
}

.site-heading h2::before {
  background: #4ac4f3 none repeat scroll 0 0;
  bottom: 0;
  content: "";
  height: 2px;
  left: 50%;
  margin-left: -5px;
  position: absolute;
  width: 50px;
}

.bg-theme .site-heading h2::before,
.bg-theme-hard .site-heading h2::before {
  background: #ffffff none repeat scroll 0 0;
}

.site-heading h2::after {
  background: #232323 none repeat scroll 0 0;
  bottom: 0;
  content: "";
  height: 2px;
  left: 50%;
  margin-left: -40px;
  position: absolute;
  width: 25px;
}

.bg-theme .site-heading h2::after,
.bg-theme-hard .site-heading h2::after {
  background: #ffffff none repeat scroll 0 0;
}

.site-heading h2 span {
  color: #4ac4f3;
}

.site-heading {
  margin-bottom: 60px;
  overflow: hidden;
  margin-top: -5px;
}

.site-heading.single {
  margin-bottom: 35px;
}

.carousel-shadow .site-heading {
  margin-bottom: 35px;
}

/* ============================================================== 
     # Bradcrumb 
=================================================================== */
.breadcrumb-area {
  padding: 100px 0;
}

.breadcrumb-area .breadcrumb {
  background: transparent none repeat scroll 0 0;
  display: inline-block;
  margin: 0;
  padding: 10px 20px;
  position: relative;
  z-index: 1;
}

.breadcrumb-area .breadcrumb::after {
  background: #232323 none repeat scroll 0 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0.6;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.breadcrumb-area h1 {
  display: block;
  font-size: 40px;
  font-weight: 600;
  text-transform: uppercase;
}

.breadcrumb > li + li::before {
  color: #ffffff;
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  padding: 0 5px;
}

.breadcrumb-area .breadcrumb a, 
 .breadcrumb-area .breadcrumb li {
  font-weight: 600;
  text-transform: uppercase;
  display: inline-block;
}

.breadcrumb-area .breadcrumb li.active {
  color: #4ac4f3;
}


.align-center {
  align-items: center;
}

/* ============================================================== 
     # Banner 
=================================================================== */
body, 
.banner-area, 
.banner-area div {
  height: 100%;
}

.banner-area.auto-height, 
.banner-area.auto-height div {
  height: auto;
  min-height: 100%;
}

.banner-area.shadow,
.banner-area .shadow {
  box-shadow: inherit !important;
}

.banner-area .box-cell {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}

.banner-area .box-table {
  display: table;
  width: 100%;
}

.banner-area .box-cell, 
 .banner-area .box-cell div {
  height: auto;
}

.banner-area {
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.banner-area .wavesshape {
  bottom: -2px;
  left: 0;
  position: absolute;
  right: 0;
  top: auto;
  width: 100%;
  z-index: -1;
}

.banner-area.shape-index .wavesshape {
  z-index: -1;
}

.banner-area .wavesshape.shape {
  bottom: -50px;
}

.banner-area .content {
  overflow: hidden;
  position: relative;
  z-index: 9;
}

.banner-area.wavesshape {
  position: relative;
  z-index: 1;
}

.banner-area.triangle-shadow {
  position: relative;
  z-index: 1;
}

.banner-area.triangle-shadow::before {
  border-bottom: 0 solid transparent;
  border-right: 100vw solid #fff;
  border-top: 80px solid transparent;
  bottom: 0;
  content: "";
  height: 0;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 101;
}

.banner-area.shadow-inner .content {
  padding: 30px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.banner-area .banner-carousel .owl-item.center img {
  transform: scale(1);
}

.banner-area .banner-carousel .owl-item img {
  transform: scale(0.9);
}

.banner-area .simple-video {
  position: relative;
}

.banner-area .simple-video .video-play-button {
  bottom: inherit;
  float: left;
  left: 0;
  margin-left: 30px;
  position: relative;
  top: 8px;
  transform: inherit;
  font-size: 20px;
  padding: 0;
}

.banner-area .simple-video a {
  float: left;
  text-align: center;
}

.banner-area .simple-video .content {
  overflow: inherit;
}

.banner-area .simple-video .video-play-button::after {
  height: 60px;
  width: 60px;
}

.banner-area .simple-video .video-play-button::before {
  height: 60px;
  width: 60px;
}

.banner-area .simple-video .video-play-button i {
  line-height: 40px;
}

.banner-area.shadow-inner .content::after {
  background: #1c1c1c none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0.5;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.banner-area.inc-dots .carousel-indicators {
  bottom: inherit;
  display: inline-block;
  left: auto;
  margin: -40px 0 0;
  position: absolute;
  right: 20px;
  top: 50%;
  width: auto;
}

.banner-area.inc-dots .carousel-indicators li {
  border: 3px solid #ffffff;
  display: block;
  height: 20px;
  margin: 10px 0;
  width: 20px;
}

.banner-area.inc-dots .carousel-indicators li.active,
.banner-area.inc-dots .carousel-indicators li:hover {
  background: #4ac4f3 none repeat scroll 0 0;
}

.banner-area.large-font .content h1 {
  font-size: 80px;
  font-weight: 800;
  line-height: 1;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.banner-area.text-center p {
  padding: 0 10%;
}

.banner-area .content span {
  color: #4ac4f3;
  font-weight: 700;
}

.banner-area.text-light.shadow.theme-hard .content span {
  color: #232323;
}

.banner-area.banner-top-padding .double-items {
  margin-top: -60px;
}

.banner-area.text-dark .content span {
  color: #ffffff;
}

.banner-area.large-font h4 {
  line-height: 1.4;
  margin-bottom: 30px;
}

.banner-area.middle-text.heading-uppercase .content h1 {
  font-size: 80px;
  font-weight: 800;
  line-height: 1;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.banner-area.small-text .content h1 {
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 25px;
  text-transform: capitalize;
}

.banner-area.normal-text .content h1 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 25px;
  text-transform: capitalize;
}

.banner-area.normal-text .content a {
  margin-top: 15px;
}

.banner-area .banner-carousel {
  cursor: w-resize;
}

.banner-area .banner-carousel .owl-dots {
  margin-top: 20px !important;
}

.banner-area .banner-carousel .owl-dots .owl-dot span {
  background: #ffffff none repeat scroll 0 0;
  border: 3px solid #e7e7e7;
  height: 20px;
  width: 20px;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

.banner-area .banner-carousel .owl-dots .owl-dot.active span,
.banner-area .banner-carousel .owl-dots .owl-dot:hover span {
  border-color: #4ac4f3;
}

.banner-area.small-text .content p {
  margin-bottom: 30px;
}

.banner-area.middle-text .content h4 {
  line-height: 30px;
}

.banner-area.middle-text .content h2 {
  color: #4ac4f3;
  font-weight: 500;
  text-transform: capitalize;
}

.banner-area.middle-text .content h1 {
  font-size: 80px;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 25px;
  text-transform: capitalize;
}

.banner-area.middle-text .content a {
  margin-left: 3px;
  margin-right: 3px;
  margin-top: 10px;
}

.banner-area .content a {
  margin: 0 3px;
}

.banner-area.version-3 .content h1 {
  font-size: 80px;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 25px;
  text-transform: uppercase;
}

.banner-area.version-3 .content h3 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 30px;
}

.banner-area .right-info {
  text-align: center;
}

.banner-area.auto-height .double-items {
  overflow: hidden;
  padding-top: 160px;
}

.banner-area.auto-height.sticky-nav .double-items {
  padding-top: 90px;
}

.banner-area.auto-height .double-items .banner-carousel,
.banner-area.auto-height .double-items .banner {
  margin-top: 50px;
}

.banner-area.auto-height .double-items .banner {
    position: relative;
}

.banner-area.auto-height .double-items .banner .overlay a {
    margin-top: -25px;
}

.banner-area .carousel-control {
  font-size: 40px;
  height: 50px;
  line-height: 50px;
  padding: 0;
  position: absolute;
  top: 50%;
  width: 50px;
  margin-top: -25px;
  background: transparent;
  opacity: 1;
  z-index: 1;
}

.banner-area .carousel-control.shadow {
  background: transparent none repeat scroll 0 0;
  font-size: 20px;
  height: 50px;
  line-height: 50px;
  margin-top: -25px;
  opacity: 1;
  padding: 0;
  position: absolute;
  top: 50%;
  width: 50px;
  z-index: 1;
  color: #ffffff;
  text-shadow: inherit;
}

.banner-area .carousel-control.shadow::after {
  background: #232323 none repeat scroll 0 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0.5;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.banner-area .carousel-control.left {
  left: -50px;
}

.banner-area:hover .carousel-control.left {
  left: 0;
}

.banner-area.typed-text.small-text .content h2 {
  display: block;
  margin-bottom: 30px;
}

.banner-area:hover .carousel-control.shadow.left {
  left: 20px;
}

.banner-area .carousel-control.right {
  right: -50px;
}

.banner-area:hover .carousel-control.right {
  right: 0;
}

.banner-area:hover .carousel-control.shadow.right {
  right: 20px;
}

.banner-area .width-max {
  position: relative;
  top: 30px;
}

.banner-area .width-max img {
    max-width: 120%;
}

/* Animation delays */
.banner-area .item h1:first-child, 
 .banner-area .item h2:first-child, 
 .banner-area .item h3:first-child, 
 .banner-area .item h4:first-child, 
 .banner-area .item h5:first-child, 
 .banner-area .item h6:first-child {
  animation-delay: .5s;
}

.banner-area .item h1:nth-child(2), 
 .banner-area .item h2:nth-child(2), 
 .banner-area .item h3:nth-child(2), 
 .banner-area .item h4:nth-child(2), 
 .banner-area .item h5:nth-child(2), 
 .banner-area .item h6:nth-child(2) {
  animation-delay: .7s;
}

.carousel-caption h1:nth-child(3), 
 .carousel-caption h2:nth-child(3), 
 .carousel-caption h3:nth-child(3), 
 .carousel-caption h4:nth-child(3), 
 .carousel-caption h5:nth-child(3), 
 .carousel-caption h6:nth-child(3) {
  animation-delay: .9s;
}

.banner-area .item p {
  animation-delay: .5s;
}

.banner-area .item a, 
 .banner-area .item button {
  animation-delay: .7s;
}
/* Carousel Fade Effect */
.carousel-fade .carousel-inner .item {
  -webkit-transition-property: opacity;
  transition-property: opacity;
}

.carousel-fade .carousel-inner .item, 
 .carousel-fade .carousel-inner .active.left, 
 .carousel-fade .carousel-inner .active.right {
  opacity: 0;
}

.carousel-fade .carousel-inner .active, 
 .carousel-fade .carousel-inner .next.left, 
 .carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-inner .next, 
 .carousel-fade .carousel-inner .prev, 
 .carousel-fade .carousel-inner .active.left, 
 .carousel-fade .carousel-inner .active.right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
}

.carousel-fade .carousel-control {
  z-index: 2;
}
/* Slider Zoom Effect */
@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(1, 1);
  }

  to {
    -webkit-transform: scale(1.2, 1.2);
  }
}

@-moz-keyframes zoom {
  from {
    -moz-transform: scale(1, 1);
  }

  to {
    -moz-transform: scale(1.2, 1.2);
  }
}

@-o-keyframes zoom {
  from {
    -o-transform: scale(1, 1);
  }

  to {
    -o-transform: scale(1.2, 1.2);
  }
}

@keyframes zoom {
  from {
    transform: scale(1, 1);
  }

  to {
    transform: scale(1.2, 1.2);
  }
}

.carousel-inner .item > .slider-thumb {
  -webkit-animation: zoom 20s;
  animation: zoom 20s;
}

.banner-area .carousel-zoom .slider-thumb {
  height: 100%;
  position: absolute;
  width: 100%;
}

#particles-js,
#ripple {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}


.banner-area .shape-bg {
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 100%;
    height: auto !important;
    min-height: auto !important;
}

@media only screen and (min-width: 1200px) {
.banner-area .shape-bg {
    bottom: -120px;
}

}




.banner-area.top-shape {
    position: relative;
    z-index: 1;
}




.banner-area.top-shape::before {
    position: absolute;
    left: -300px;
    top: -100px;
    content: "";
    height: 600px;
    width: 600px;
    background: #fff;
    z-index: -1;
    border-radius: 20px;
    transform: rotate(65deg);
    opacity: 0.3;
}



.banner-area.inc-video .content {
  overflow: inherit;
}

.banner-area.inc-video .content a.video-play-button.relative {
    position: inherit;
    top: 50px;
    margin-bottom: 50px;
}

.banner-area.text-dark.bg-gradient .content span {
  color: #4ac4f3;
}

.banner-area .double-items.thumb-110 img {
  max-width: 110%;
}

.banner-area .double-items.thumb-120 img {
  max-width: 120%;
}

.banner-area .double-items.thumb-130 img {
  max-width: 130%;
}

.banner-area .double-items.thumb-140 img {
  max-width: 140%;
}


.banner-area .btn-simple {
  padding: 15px 50px 15px;
  font-weight: 600;
  font-size: 16px;
  position: relative;
  z-index: 1;
  text-transform: uppercase;
}

.banner-area .btn-simple::after {
  position: absolute;
  left: 10px;
  top: 50%;
  content: "";
  height: 2px;
  width: 30px;
  background: #4ac4f3;
}

.banner-area.text-medium .content h1 {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 55px;
  line-height: 1.3;
  margin-bottom: 25px;
}

.banner-area.text-medium .content a {
  margin-top: 25px;
}

.banner-area.text-medium .right-info {
  padding-left: 35px;
}

.banner-area.text-medium .content p {
  font-size: 16px;
  line-height: 34px;
}

.banner-area .fixed-shape {
    position: absolute;
    right: 0;
    top: 0;
    background-size: contain;
    background-position: top right;
    z-index: -1;
    width: 100%;
    background-repeat: no-repeat;
}

.banner-area.overflow-inherit {
  overflow: inherit;
}

.banner-area .right-info.width-big img {
    max-width: 150%;
}

.banner-area.text-large h1 {
    font-size: 50px;
    text-transform: capitalize;
    font-weight: 500;
    margin-bottom: 30px;
}

.banner-area.text-large .button {
  margin-top: 45px;
}

.banner-area ul {
  display: flex;
  text-align: left;
  margin-top: 40px;
  font-family: 'Poppins', sans-serif;
}

.banner-area ul li {
  margin-right: 50px;
}

.banner-area ul li:last-child {
  margin-right: 0;
}

.banner-area ul li .fun-fact {
  display: flex;
  align-items: center;
}

.banner-area ul li .fun-fact .timer {
  font-size: 36px;
  color: #232323;
  font-weight: 600;
  position: relative;
  z-index: 1;
  padding-right: 40px;
  border-right: 1px solid;
  margin-right: 0;
}

.banner-area ul li .fun-fact .timer::after {
  position: absolute;
  right: 15px;
  top: 0;
  content: "K";
}

.banner-area ul li .fun-fact .medium {
  margin-left: 15px;
  font-weight: 600;
  color: #232323;
}


/* ============================================================== 
     # About 
=================================================================== */
.about-area .default.info h4 {
  color: #4ac4f3;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.about-area .default.info h2 {
  font-weight: 600;
  line-height: 1.4;
  margin-bottom: 20px;
}

.about-area .bottom-info {
  border-top: 1px solid #e7e7e7;
  margin-top: 35px;
  padding-top: 30px;
}

.about-area .bottom-info span {
  display: table;
  padding-top: 2px;
}

.about-area .default.info h3 {
  font-weight: 600;
  margin-bottom: 20px;
}

.about-area .default.info > a {
  margin-top: 10px;
}

.about-area .bottom-info li {
  color: #666666;
  display: block;
  font-family: "Poppins",sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  margin-bottom: 15px;
  text-transform: capitalize;
}

.about-area .bottom-info li i {
  background: #4ac4f3 none repeat scroll 0 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  color: #ffffff;
  float: left;
  font-size: 12px;
  height: 20px;
  line-height: 20px;
  margin-right: 15px;
  margin-top: 5px;
  position: relative;
  text-align: center;
  width: 20px;
  z-index: 1;
}

.about-area .bottom-info li:last-child {
  margin: 0;
}

.about-area .bottom-info li i::after {
  background: #4ac4f3 none repeat scroll 0 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  content: "";
  height: 28px;
  left: 0;
  margin-left: -4px;
  margin-top: -4px;
  opacity: 0.5;
  position: absolute;
  top: 0;
  width: 28px;
  z-index: -1;
}

.about-area .services-info .item {
  background: #ffffff none repeat scroll 0 0;
  -moz-box-shadow: 0 0 10px #cccccc;
  -webkit-box-shadow: 0 0 10px #cccccc;
  -o-box-shadow: 0 0 10px #cccccc;
  box-shadow: 0 0 10px #cccccc;
  margin-top: 30px;
  padding: 30px;
}

.about-area .services-info {
  margin-top: -30px;
}

.about-area .services-info .item i {
  color: #4ac4f3;
  display: inline-block;
  font-size: 60px;
  margin-bottom: 25px;
  position: relative;
  z-index: 1;
}

.about-area .services-info .item h4 {
  font-weight: 600;
  text-transform: capitalize;
}

.about-area .services-info .item p {
  margin: 0;
}

.about-area .services-info .single-item:nth-child(1) .item, 
.about-area .services-info .single-item:nth-child(4) .item {
  background: #4ac4f3 none repeat scroll 0 0;
}

.about-area .services-info .single-item:nth-child(1) .item i, 
.about-area .services-info .single-item:nth-child(4) .item i,
.about-area .services-info .single-item:nth-child(1) .item h4, 
.about-area .services-info .single-item:nth-child(4) .item h4,
.about-area .services-info .single-item:nth-child(1) .item p, 
.about-area .services-info .single-item:nth-child(4) .item p {
  color: #fff;
}


.about-area .about-items .about-content h4 {
    font-weight: 600;
    text-transform: uppercase;
    color: #4ac4f3;
}

.about-area .about-items h2 {
    font-weight: 600;
    margin-bottom: 25px;
}

.about-area .top-features {
    margin-top: 50px;
}

.about-area .about-items p {
    margin-bottom: 0;
}

.about-area .top-features .item {
    padding: 50px 37px;
    transition: all 0.35s ease-in-out;
}

.about-area .top-features .single-item:nth-child(2) .item,
.about-area .top-features .single-item:hover .item {
    box-shadow: 0 0 10px #cccccc;
    border-radius: 5px;
}


.about-area .top-features.active-all .single-item .item {
    box-shadow: 0 0 10px #cccccc;
    border-radius: 5px;
}


.about-area .top-features .item > i {
    display: inline-block;
    color: #4ac4f3;
    font-size: 60px;
    margin-bottom: 25px;
}

.about-area .top-features .item > i {
    display: inline-block;
    background: linear-gradient(90deg, rgba(19,146,195,1) 32%, rgba(74,196,243,1) 82%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about-area .top-features .item img {
    max-width: 100px;
    margin-bottom: 30px;
    height: 80px;
}

.about-area .top-features .item h4 {
    text-transform: capitalize;
    font-weight: 600;
}

.about-area .top-features .item a {
    text-transform: capitalize;
    font-weight: 600;
    margin-top: 15px;
    display: inline-block;
    color: #666666;
    text-decoration: underline;
}

.about-area .top-features .item a:hover {
    color: #4ac4f3;
}

.about-area .thumb-left img {
    margin-left: -20%;
    max-width: 120%;
}

.about-area .thumb-left {
    padding-right: 50px;
}

.about-area {
    position: relative;
    z-index: 1;
}

.about-area .shape {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0.07;
}


/* ============================================================== 
     # Services Box
=================================================================== */

.services-area .services-box .single-item {
  margin-bottom: 30px;
}

.services-area .services-box .item {
  padding: 50px 30px;
  background: rgba(255, 255, 255, 0.3);
  overflow: hidden;
  position: relative;
  z-index: 1;
  border: 1px solid rgba(255, 255, 255, 1);
  height: 336px;
}


@media only screen and (max-width: 768px) {
  .services-area .services-box .item {
    height: 100%;
  }
}

.services-area .services-box .item::after {
  position: absolute;
  left: 0;
  bottom: -100%;
  content: "";
  height: 100%;
  width: 100%;
  background: rgba(74, 196, 243, 1);
  z-index: -1;
  transition: all 0.35s ease-in-out;
}

.services-area .services-box .item:hover::after {
  bottom: 0;
}

.services-area .services-box .item i,
.services-area .services-box .item h5,
.services-area .services-box .item p {
  transition: all 0.35s ease-in-out;
}

.services-area .services-box .item:hover i,
.services-area .services-box .item:hover h5,
.services-area .services-box .item:hover p {
  color: #ffffff;
}

.services-area .services-box .item i {
  display: inline-block;
  font-size: 60px;
  margin-bottom: 30px;
  color: #4ac4f3;
}
.services-area .services-box .item h5 {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 20px;
}
.services-area .services-box .item p {
  margin-bottom: 0;
}


/* ============================================================== 
     # How it works
=================================================================== */

.work-process-area {
  position: relative;
}

.works-process-items {
  position: relative;
  z-index: 1;
  margin-top: 10px;
}

.works-process-items .item {
  padding: 0 15px;
}

.works-process-items .single-item {
  position: relative;
  z-index: 1;
}

.works-process-items .single-item::after {
  position: absolute;
  left: 100%;
  top: 41px;
  content: "";
  background-image: url(assets/img/direction-sign.png);
  height: 50px;
  width: 100px;
  background-repeat: no-repeat;
  margin-right: -100px;
  background-size: contain;
  margin-left: -50px;
  opacity: 0.3;
}

.works-process-items .single-item:last-child::after {
  display: none;
}

.works-process-items .item .info h4 {
  font-weight: 600;
  text-transform: capitalize;
}

.works-process-items .item .info span {
  color: #437eeb;
  display: block;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 10px;
}

.works-process-area .works-process-items .info p {
  margin: 0;
}

.works-process-items .item .icon {
  position: relative;
  text-align: center;
  z-index: 1;
  display: inline-block;
  width: 120px;
}

.works-process-items .item .icon span {
  background: #ffffff;
  position: absolute;
  right: -10px;
  top: -10px;
  height: 40px;
  line-height: 40px;
  width: 40px;
  z-index: 1;
  color: #4ac4f3;
  font-weight: 800;
  font-size: 14px;
  border-radius: 50%;
  box-shadow: 0 0 10px #cccccc;
}

.works-process-items .item .icon i {
  background: #4AC5F3;
  background: -webkit-linear-gradient(top left, #4AC5F3, #C1EDFE);
  background: -moz-linear-gradient(top left, #4AC5F3, #C1EDFE);
  background: linear-gradient(to bottom right, #4AC5F3, #C1EDFE);
  border-radius: 20px;
  color: #ffffff;
  font-size: 50px;
  height: 120px;
  line-height: 120px;
  text-align: center;
  width: 120px;
  z-index: 1;
  display: inline-block;
  border: 3px solid #ffffff;
  box-shadow: 0 0 10px #cccccc;
  margin-bottom: 30px;
}

.works-process-items .item .info {
  line-height: 0;
  position: relative;
  text-align: center;
}

.works-process-items .item .info h4 {
  font-weight: 600;
  text-transform: capitalize;
  font-size: 20px;
}

.works-process-items .item .info p {
  margin: 0;
  margin-bottom: -5px;
}


.works-process-items .item .info {
  text-align: center;
}


/* ============================================================== 
     # Chose Us 
=================================================================== */

.choseus-area {
    position: relative;
    z-index: 1;
}

.choseus-area .fixed-shape-left {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
}

.choseus-area .fixed-shape {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
}

.choseus-area .fixed-shape img {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
}

.choseus-items {
    display: flex;
    align-items: center;
}

.choseus-items ul {
    margin-top: 25px;
}

.choseus-items .thumb {
    padding-right: 35px;
    text-align: center;
}

.choseus-items .info h2 {
    font-weight: 600;
    line-height: 1.3;
    margin-top: -5px;
    margin-bottom: 25px;
}

.choseus-items .info h5 {
    text-transform: uppercase;
    font-weight: 600;
    color: #4ac4f3;
    margin-bottom: 25px;
}

.choseus-items .info a {
  margin-top: 15px;
}

.choseus-items .info ul li {
    display: block;
    position: relative;
    z-index: 1;
    padding-left: 35px;
    margin-bottom: 20px;
    font-weight: 600;
    color: #232323;
    font-family: 'Poppins', sans-serif;
}

.choseus-items .info ul li::after {
    position: absolute;
    left: 0;
    top: 0;
    content: "\f058";
    font-family: "Font Awesome 5 Free";
    color: #4ac4f3;
    font-size: 20px;
    font-weight: 600;
}

.choseus-items .info ul li:last-child {
    margin: 0;
}

.choseus-items .fun-fact {
    font-family: 'Poppins', sans-serif;
    margin-top: 30px;
}

.choseus-items .fun-fact .timer {
    font-size: 30px;
    font-weight: 600;
    line-height: 1;
    color: #666666;
    display: inline-block;
    position: relative;
    z-index: 1;
}

.choseus-items .fun-fact .medium {
    margin-top: 5px;
    display: block;
    font-weight: 600;
    text-transform: capitalize;
}

.choseus-items .fun-fact .timer::after {
    position: absolute;
    right: -22px;
    top: 5px;
    content: "\f067";
    font-family: "Font Awesome 5 Free";
    font-size: 20px;
    color: #4ac4f3;
}


/* ============================================================== 
     # Features 
=================================================================== */

.features-area.bottom-small {
  padding-bottom: 65px;
}

.features-area.default-padding.bottom-none {
  padding-bottom: 30px;
}

.features-area .item .icon {
  display: table-cell;
  vertical-align: top;
}

.features-area .item .info {
  display: table-cell;
  padding-left: 25px;
  vertical-align: top;
}

.features-area .item .icon i {
  background: #edf5ff none repeat scroll 0 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  color: #232323;
  display: inline-block;
  font-size: 50px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  width: 100px;
}

.features-area .item .info h4 {
  font-weight: 600;
  text-transform: capitalize;
}

.features-area .item .info p {
  margin: 0;
}

.features-area .single-item {
  margin-bottom: 50px;
}

.features-area.cell-items .features-thumb, 
.features-area.cell-items .features-items {
  display: table-cell;
  float: none;
  vertical-align: middle;
}

.features-area.cell-items .features-thumb {
  padding-right: 35px;
}

.features-area.cell-items .features-items .single-item {
  margin-bottom: 0;
  margin-top: 50px;
}

.features-area.cell-items .features-items .single-item:first-child, 
.features-area.cell-items .features-items .single-item:nth-child(2) {
  margin-top: 0;
}

.features-area.features-list .features-items h2 {
  font-weight: 600;
  line-height: 1.4;
  margin-bottom: 25px;
}

.features-area.features-list .features-items li {
  color: #666666;
  display: block;
  font-weight: 400;
  letter-spacing: 1px;
  margin-bottom: 25px;
  text-transform: capitalize;
}

.features-area.features-list .features-items li:last-child {
  margin: 0;
}

.features-area.features-list .features-items li i {
  background: #4ac4f3 none repeat scroll 0 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  color: #ffffff;
  float: left;
  font-size: 12px;
  height: 30px;
  line-height: 30px;
  margin-right: 15px;
  margin-top: 5px;
  position: relative;
  text-align: center;
  width: 30px;
  z-index: 1;
}

.features-area.features-list .features-items li i::after {
  background: #4ac4f3 none repeat scroll 0 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  content: "";
  height: 40px;
  left: 0;
  margin-left: -5px;
  margin-top: -5px;
  opacity: 0.5;
  position: absolute;
  top: 0;
  width: 40px;
  z-index: -1;
}

.features-area.features-list .features-thumb {
  padding-right: 35px;
}

.features-area.features-list .features-thumb.order-lg-last {
    padding-right: 15px;
    padding-left: 35px;
}

.features-area.features-list .features-items li .icon {
  display: table-cell;
  vertical-align: top;
}

.features-area.features-list .features-items li .info {
  display: table-cell;
  padding-left: 5px;
  vertical-align: top;
}

.features-area.features-list .features-items li .info h4 {
  margin-bottom: 10px;
}

.features-area.features-list .features-items ul {
  margin-top: 30px;
  padding-right: 50px;
}

.features-area.features-list .features-items li .info p {
  color: #666666;
  margin: 0;
}

.features-area.features-list .features-item.reverse .features-thumb {
  float: right;
  padding-right: 15px;
}

.features-area.features-list .features-item.reverse .features-items {
  padding-left: 15px;
}

.features-area.features-list .features-item {
  margin-top: 80px;
}

.features-area.features-list .features-item:first-child {
  margin: 0;
}

/* ============================================================== 
     # Overview 
=================================================================== */

.overview-area .nav-tabs li {
  display: inline-block;
  float: none;
  margin: 0 3px;
  margin-bottom: 10px;
}

.overview-area .nav-tabs {
  display: block;
  height: auto;
  margin-bottom: 30px;
  min-height: auto;
  overflow: hidden;
  border: none;
}

.overview-area .nav-tabs li a {
  background: #edf5ff none repeat scroll 0 0;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  color: #232323;
  display: inline-block;
  font-weight: 600;
  padding: 15px 40px;
  text-transform: uppercase;
  border: none;
}

.overview-area .nav-tabs li a.active {
  background: #4ac4f3 none repeat scroll 0 0;
  color: #ffffff;
}

.overview-area .overview-items.vertical .tab-navigation, 
.overview-area .overview-items.vertical .tab-content {
  display: table-cell;
  vertical-align: top;
}

.overview-area .overview-items.vertical .tab-navigation {
  background: #edf5ff none repeat scroll 0 0;
  min-width: 200px;
  overflow: inherit;
  padding: 30px 50px;
}

.overview-area .overview-items.vertical .tab-navigation li {
  display: block;
  margin-bottom: 10px;
  position: relative;
  z-index: 1;
}

.overview-area .overview-items.vertical .tab-navigation li:last-child {
  margin-bottom: 0;
}

.overview-area .overview-items .item .info h3,
.overview-area .overview-items .item .info h4 {
  font-weight: 600;
  text-transform: capitalize;
}

.overview-area .overview-items .item .thumb, 
.overview-area .overview-items .item .info {
  display: table-cell;
  float: none;
  vertical-align: middle;
}

.overview-area .overview-items .item .thumb {
  padding: 0;
}

.overview-area .overview-items .item .row {
  margin: 0;
}

.overview-area .overview-items .item .info {
  border: 1px solid #e7e7e7;
  padding: 30px;
}

.carousel-shadow .owl-stage-outer {
  padding: 15px 0;
}

.overview-area .overview-items .item .info a {
  color: #4ac4f3;
  font-weight: 600;
  text-transform: uppercase;
}

.overview-area .overview-items .owl-dots .owl-dot span {
  background: #e7e7e7 none repeat scroll 0 0;
  border: 4px solid #edf5ff;
  height: 20px;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  width: 20px;
}

.overview-area .overview-items .owl-dots .owl-dot.active span,
.overview-area .overview-items .owl-dots .owl-dot:hover span {
  background: #4ac4f3 none repeat scroll 0 0;
}

.overview-area .overview-carousel .owl-nav {
  margin: 0;
}

.overview-area .overview-carousel .owl-dots {
  margin-bottom: -15px;
  margin-top: 20px;
}

.overview-area .overview-carousel .owl-nav .owl-prev, 
.overview-area .overview-carousel .owl-nav .owl-next {
  background: transparent none repeat scroll 0 0;
  color: #4ac4f3;
  font-size: 30px;
  height: 40px;
  left: 20px;
  line-height: 40px;
  margin-top: -50px;
  padding: 0;
  position: absolute;
  top: 50%;
  width: 40px;
}

.overview-area .overview-carousel .owl-nav .owl-next {
  left: auto;
  right: 20px;
}

.overview-area .overview-carousel .item:hover {
  cursor: crosshair;
}

/* ============================================================== 
     # Pricing Table 
=================================================================== */
.pricing-item {
  background: #ffffff none repeat scroll 0 0;
  -moz-box-shadow: 0 0 10px #cccccc;
  -webkit-box-shadow: 0 0 10px #cccccc;
  -o-box-shadow: 0 0 10px #cccccc;
  box-shadow: 0 0 10px #cccccc;
  margin-bottom: 30px;
  overflow: hidden;
  position: relative;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.pricing-header h4 {
  font-weight: 600;
  text-transform: uppercase;
  color: #232323;
}

.pricing-header h2 {
  color: #232323;
  font-size: 50px;
  font-weight: 900;
  letter-spacing: -1px;
  line-height: 1;
  margin-bottom: 0;
}

.color-yellow .pricing-header h2 {
  color: #ff9800;
}

.pricing-header h2 sup {
  font-size: 24px;
  font-weight: 600;
  margin-right: 5px;
}

.pricing-header h2 sub {
  font-size: 18px;
  font-weight: 400;
  margin-left: -5px;
}

.pricing-item .pricing-header span {
  font-family: "Poppins",sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

.pricing-header {
  background: #edf5ff none repeat scroll 0 0;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 35px;
  padding: 30px !important;
}

.pricing-item .footer {
  padding: 30px;
}

.pricing-item li {
  font-family: "Poppins",sans-serif;
  line-height: 40px;
  padding: 0 30px;
  text-transform: capitalize;
}

.pricing-area .pricing-item.active .pricing-header {
  background: #4ac4f3 none repeat scroll 0 0;
}

.pricing-area.color-yellow .pricing-item.active .pricing-header {
  background: #ff9800 none repeat scroll 0 0;
}

.pricing-area .pricing-item.active .pricing-header h2,
.pricing-area .pricing-item.active .pricing-header h4,
.pricing-area .pricing-item.active .pricing-header span {
  color: #ffffff;
}

.pricing-area .pricing-item.active .pricing-header span.badge {
  background: #ffffff none repeat scroll 0 0;
  color: #232323;
}

.pricing-item li i {
  color: #4ac4f3;
  margin-right: 5px;
}

.pricing-item li i.fa-times {
  color: #e22626;
}


/* ============================================================== 
     # Team 
=================================================================== */

.team-area.default-padding {
  padding-bottom: 80px;
}

.team-area .item .thumb {
  position: relative;
  overflow: hidden;
}

.team-area .item .thumb .social {
  bottom: -100%;
  left: 0;
  padding: 20px;
  position: absolute;
  text-align: center;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  width: 100%;
}

.team-area .item:hover .thumb .social {
  bottom: 30px;
}

.team-area .item .thumb img {
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

.team-area .item:hover .thumb img {
  opacity: .6;
}

.team-area .item .thumb .social li {
  display: inline-block;
}

.team-area .item .thumb .social li a {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  color: #ffffff;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  margin: 0 2px;
  text-align: center;
  width: 40px;
}

.team-area .info {
  background: #ffffff none repeat scroll 0 0;
  -moz-box-shadow: 0 0 10px #cccccc;
  -webkit-box-shadow: 0 0 10px #cccccc;
  -o-box-shadow: 0 0 10px #cccccc;
  box-shadow: 0 0 10px #cccccc;
  left: 5%;
  padding: 20px;
  position: relative;
  text-align: center;
  top: -30px;
  width: 90%;
  z-index: 9;
}

.team-area .info h4 {
  font-weight: 600;
  margin-bottom: 5px;
  text-transform: capitalize;
}

.team-area .info span {
  color: #4ac4f3;
  font-family: "Poppins",sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

.team-area .social li.twitter a {
  background-color: #00b6f1;
}

.team-area .social li.pinterest a {
  background-color: #bd081c;
}

.team-area .social li.facebook a {
  background-color: #3b5998;
}

.team-area .social li.g-plus a {
  background-color: #df4a32;
}

.team-area .social li.vimeo a {
  background-color: #1ab7ea;
}

.team-area .social li.instagram a {
  background-color: #cd486b;
}

.team-area .team-carousel .owl-dots {
  margin-bottom: 15px;
  margin-top: 0 !important;
}

.team-area .team-carousel .owl-dots .owl-dot span {
  background: #e7e7e7 none repeat scroll 0 0;
  border: 4px solid #edf5ff;
  height: 20px;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  width: 20px;
}

.team-area .team-carousel .owl-dots .owl-dot.active span, 
.team-area .team-carousel .owl-dots .owl-dot:hover span {
  background: #4ac4f3 none repeat scroll 0 0;
}

/* ============================================================== 
     # Video Button Play
=================================================================== */

.video-play-button {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  box-sizing: content-box;
  color: #ffffff;
  display: block;
  font-size: 40px;
  height: 40px;
  left: 50%;
  line-height: 40px;
  margin-top: 25px;
  padding: 0 0 0 10px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 40px;
  z-index: 10;
}

.text-dark .video-play-button {
  color: #4ac4f3;
}

.video-play-button:before {
  content: "";
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 80px;
  height: 80px;
  background: #4ac4f3 repeat scroll 0 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-animation: pulse-border 1500ms ease-out infinite;
  animation: pulse-border 1500ms ease-out infinite;
}

.text-dark .video-play-button:before {
  background: #ffffff repeat scroll 0 0;
}

.video-play-button:after {
  content: "";
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 80px;
  height: 80px;
  background: #4ac4f3 repeat scroll 0 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  transition: all 200ms;
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  -ms-transition: all 200ms;
  -o-transition: all 200ms;
}

.text-dark .video-play-button:after {
  background: #ffffff repeat scroll 0 0;
}

.video-play-button:hover,
.video-play-button:focus {
  color: #ffffff;
}

.text-dark .video-play-button:hover,
.text-dark .video-play-button:focus {
  color: #4ac4f3;
  background-color: #ffffff;
}

.video-play-button:hover:after {
  background-color: #4ac4f3;
}

.text-dark .video-play-button:hover:after {
  background-color: #ffffff;
}

@-webkit-keyframes pulse-border {
  0% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}

@keyframes pulse-border {
  0% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}

.video-play-button i {
  display: block;
  position: relative;
  z-index: 3;
}

/* ============================================================== 
     # Blog 
=================================================================== */

.blog-area .blog-items .item {
  margin-bottom: 30px;
}

.blog-area.full-width .blog-items .item {
  margin-bottom: 0;
}

.blog-area.full-width .blog-items .single-item {
  margin-bottom: 50px;
}

.blog-area .info {
  background: #ffffff none repeat scroll 0 0;
  -moz-box-shadow: 0 0 10px #cccccc;
  -webkit-box-shadow: 0 0 10px #cccccc;
  -o-box-shadow: 0 0 10px #cccccc;
  box-shadow: 0 0 10px #cccccc;
  padding: 30px;
}

.blog-area .info h4 {
  margin-bottom: 10px;
}

.blog-area .info .meta li {
  color: #999999;
  display: inline-block;
  font-weight: 400;
  margin-right: 10px;
}

.blog-area .info .meta li a {
  color: #999999;
  display: inline-block;
  font-size: 14px;
  text-transform: uppercase;
}

.blog-area .info .meta li i {
  margin-right: 5px;
}

.blog-area .info .meta {
  margin-bottom: 20px;
}

.blog-area .info a:hover {
  color: #4ac4f3;
}

.blog-area .info .meta a:hover {
  color: #4ac4f3;
}

.blog-area .info > a {
  margin-top: 20px;
}

.blog-area .info p {
  margin: 0;
}

.blog-area .info h2 a,
.blog-area .info h3 a,
.blog-area .info h4 a {
  font-weight: 600;
  line-height: 1.4;
  text-transform: capitalize;
}

.blog-area .item .thumb {
  position: relative;
  z-index: 1;
}

.blog-area .item .thumb .post-type {
  background: rgba(74, 196, 243, 0.7) none repeat scroll 0 0;
  bottom: 20px;
  color: #ffffff;
  font-size: 25px;
  height: 60px;
  left: 20px;
  line-height: 60px;
  position: absolute;
  text-align: center;
  width: 60px;
  z-index: 1;
}

.blog-area .pagi-area .pagination {
    margin: 0;
    text-align: center;
    justify-content: center;
}

.blog-area .pagi-area .pagination a {
    font-weight: 600;
    padding: 15px 25px;
    color: #4ac4f3;
    background: #ffffff;
    margin-right: 5px;
    margin-top: 10px;
    display: inline-block;
    border: 1px solid;
}

.blog-area .pagi-area .pagination li.active a {
  background-color: #4ac4f3;
  color: #ffffff;
  border: 1px solid transparent;
}

.blog-area .item blockquote {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #232323;
  border-image: none;
  border-radius: inherit;
  border-style: none none none solid;
  border-width: medium medium medium 3px;
  color: #232323;
  font-family: "Poppins",sans-serif;
  line-height: 30px;
  margin: 30px 0;
  padding: 0 0 0 20px;
  position: relative;
  z-index: 1;
}

.blog-area.single .post-tags a {
  background: white none repeat scroll 0 0;
  border: 1px solid #f4f4f4;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  display: inline-block;
  margin: 5px;
  padding: 5px 25px;
}

.post-tags {
  display: block;
  padding-top: 30px;
  width: 100%;
}

.post-tags span {
  display: inline-block;
  font-family: "Montserrat",sans-serif;
  font-size: 18px;
  font-weight: 600;
  margin-right: 15px;
  text-transform: capitalize;
}

.blog-area.full-blog.single-blog .blog-items .info {
  margin: 0;
  padding: 30px 0 0;
}

.blog-area.single .post-pagi-area {
  border-bottom: 1px solid #e7e7e7;
  border-top: 1px solid #e7e7e7;
  margin-top: 30px;
  overflow: hidden;
  padding: 15px 0;
}

.blog-area.single .post-pagi-area a {
  display: inline-block;
  font-weight: 600;
  text-transform: uppercase;
}

.blog-area.single .post-pagi-area a:hover {
  color: #4ac4f3;
}

.blog-area.single .post-pagi-area a:last-child {
  float: right;
}

.blog-area.single .post-pagi-area a:first-child i {
  margin-right: 3px;
}

.blog-area.single .post-pagi-area a:last-child i {
  margin-left: 3px;
}

.blog-area.single .blog-content .item-box {
  margin-bottom: 0;
}

.blog-area.single .blog-content .item-box .form-group.submit {
  margin-bottom: 0;
}

.responsive-video {
  position: relative;
  padding-bottom: 56.25%;
 /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.responsive-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.comments-list .commen-item .avatar {
  float: left;
  height: 100px;
  width: 100px;
}

.comments-list .commen-item .content {
  display: table-cell;
  vertical-align: top;
}

.comments-list .commen-item .avatar img {
  height: 80px;
  width: 80px;
}

.comments-list .commen-item {
  margin-bottom: 30px;
}

.comments-area {
  margin-top: 30px;
}

.comments-area .comments-title h2,
.comments-area .comments-title h3,
.comments-area .comments-title h4 {
  border-bottom: 1px solid #e2e2e2;
  font-weight: 600;
  margin-bottom: 30px;
  padding-bottom: 15px;
  text-transform: capitalize;
}

.comments-list .commen-item .content h3, 
.comments-list .commen-item .content h4, 
.comments-list .commen-item .content h5 {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.comments-info a {
  color: #232323;
  display: inline-block;
  font-size: 12px;
  padding: 1px 10px;
  text-transform: uppercase;
}

.comments-info a:hover {
  color: #ffffff;
}

.comments-info a i {
  margin-right: 10px;
}

.comments-form input, .comments-form textarea {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: transparent none repeat scroll 0 0;
  border-color: #e7e7e7;
  border-image: none;
  border-radius: inherit;
  border-style: none none solid;
  border-width: medium medium 1px;
  box-shadow: inherit;
}

.comments-form textarea {
  min-height: 150px;
}

.comments-form button {
  background-color: #4ac4f3;
  border: 1px solid #4ac4f3;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  color: #ffffff;
  display: inline-block;
  font-family: "Montserrat",sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 25px;
  margin-top: 20px;
  padding: 9px 35px;
  text-transform: uppercase;
  transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

.comments-form button:hover {
  color: #ffffff;
  background-color: #232323;
  border: 1px solid #232323;
}

.comments-area .commen-item .comments-info {
  margin-bottom: 15px;
}

.comments-form .title h2, 
.comments-form .title h3, 
.comments-form .title h4 {
  border-bottom: 1px solid #e7e7e7;
  font-weight: 600;
  margin-bottom: 30px;
  padding-bottom: 15px;
  text-transform: capitalize;
}

.blog-area .contact-comments .comments {
  margin-top: 20px;
}

.blog-area.single .blog-items .item .contact-comments .col-md-6 {
  float: left;
  padding: 0 15px;
}


/* ============================================================== 
     # Testimonials 
=================================================================== */

.testimonials-area.default-padding {
  padding-bottom: 125px;
}

.testimonials-area .carousel-indicators {
  bottom: 0;
  margin-top: 50px;
  position: relative;
}

.testimonials-area .carousel-indicators li {
  width: 60px;
  height: 60px;
  cursor: pointer;
  border: 1px solid #e7e7e7;
  -moz-box-shadow: 0 0 10px #cccccc;
  -webkit-box-shadow: 0 0 10px #cccccc;
  -o-box-shadow: 0 0 10px #cccccc;
  box-shadow: 0 0 10px #cccccc;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  opacity: 0.4;
  overflow: hidden;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  vertical-align: middle;
  margin: 0 10px;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.testimonials-area .carousel-indicators li img {
  display: block;
  height: auto;
  width: 100%;
}

.testimonials-area .carousel-indicators .active {
  opacity: 1;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
  margin: 0 25px;
}

.testimonials-area .testimonial-items .item span.quote {
  background: #edf5ff none repeat scroll 0 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  display: block;
  height: 50px;
  line-height: 50px;
  margin: auto auto 15px;
  position: relative;
  text-align: center;
  width: 50px;
}

.testimonials-area .testimonial-items .item span.quote::after {
  content: ",,";
  font-family: "Poppins",sans-serif;
  font-size: 50px;
  height: 100%;
  left: 0;
  letter-spacing: -1px;
  position: absolute;
  text-align: center;
  top: 20px;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  width: 100%;
}

.testimonial-items h4 {
  font-weight: 600;
  margin-bottom: 5px;
  text-transform: capitalize;
}

.testimonial-items span {
  color: #4ac4f3;
  font-family: "Poppins",sans-serif;
  font-weight: 600;
  text-transform: capitalize;
}


/* ============================================================== 
     # Subscribe Area 
=================================================================== */

.subscribe-area h2 {
  font-weight: 600;
}

.subscribe-area h3 {
  font-weight: 600;
  text-transform: uppercase;
}

.col-md-8.col-md-offset-2 > h2 {
}

.subscribe-area form .input-group {
  margin: 30px auto auto;
  width: 450px;
}

.subscribe-area form .input-group span {
  background: transparent none repeat scroll 0 0;
  border: medium none;
  padding: 0;
}

.subscribe-area .subscribe form .input-group input {
  border: 1px solid #f1f1f1;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  box-shadow: inherit;
  min-height: 60px;
  padding-left: 20px;
}

.subscribe-area form .input-group button {
  background: #4ac4f3 none repeat scroll 0 0;
  border: medium none;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  color: #ffffff;
  height: 100%;
  line-height: 60px;
  position: absolute;
  right: 0;
  top: 0;
  width: 60px;
  z-index: 9;
}

.sign-up h2 {
  color: #ffffff;
  font-weight: 500;
  margin-bottom: 30px;
}

.sign-up button {
  background: #ffffff none repeat scroll 0 0;
  border: medium none;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  color: #4ac4f3;
  display: inline-block;
  font-family: "Montserrat",sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 25px;
  margin-top: 15px;
  overflow: hidden;
  padding: 8px 35px;
  text-transform: uppercase;
  transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

/* ============================================================== 
     # Contact 
=================================================================== */

.contact-us-area .address .address-items h4 {
  font-weight: 600;
  position: relative;
  text-transform: uppercase;
  z-index: 1;
}

.contact-us-area .address {
  padding-right: 35px;
}

.contact-us-area .address .address-items ul {
  margin-bottom: 40px;
}

.contact-us-area .address .address-items ul.social {
  margin-bottom: 50px;
}

.contact-us-area .google-maps iframe {
  height: 300px;
  margin-bottom: -8px;
  width: 100%;
}

.contact-us-area .address .social li {
  display: inline-block;
}

.contact-us-area .address .social li a {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  color: #ffffff;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  margin: 0 2px;
  text-align: center;
  width: 40px;
}

.contact-us-area .address .social li.twitter a {
  background-color: #00b6f1;
}

.contact-us-area .address .social li.pinterest a {
  background-color: #bd081c;
}

.contact-us-area .address .social li.facebook a {
  background-color: #3b5998;
}

.contact-us-area .address .social li.g-plus a {
  background-color: #df4a32;
}

.contact-us-area .address .social li.vimeo a {
  background-color: #1ab7ea;
}

.contact-us-area .address .social li.instagram a {
  background-color: #cd486b;
}

.contact-us-area .address-items .info li i {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  color: #4ac4f3;
  display: table-cell;
  font-size: 20px;
  text-align: center;
  vertical-align: top;
  width: 30px;
}

.contact-form img {
  margin-left: 10px;
}

.contact-us-area .address-items .info li span {
  display: table-cell;
  padding-left: 10px;
  vertical-align: middle;
}

.contact-us-area .address-items .info li {
  margin-bottom: 15px;
}

.contact-us-area .address-items .info li:last-child {
  margin: 0;
}

.contact-us-area .contact-form h2 {
  font-weight: 600;
  margin-bottom: 30px;
  text-transform: capitalize;
}

.contact-us-area .form-group {
    width: 100%;
}

.contact-us-area .contact-form input {
  border: 1px solid #e7e7e7;
  box-shadow: inherit;
  color: #232323;
}

.contact-us-area .contact-form textarea {
  border: 1px solid #e7e7e7;
  box-shadow: inherit;
  min-height: 300px;
  padding-top: 15px;
}

.contact-us-area .contact-form button {
  background: #4ac4f3 none repeat scroll 0 0;
  border: medium none;
  box-shadow: inherit;
  color: #ffffff;
  display: inline-block;
  font-family: "Poppins",sans-serif;
  font-weight: 600;
  margin-top: 15px;
  padding: 10px 35px;
  text-transform: uppercase;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}

.contact-us-area .contact-form button i {
  margin-left: 5px;
}

.contact-form-area .alert-notification {
  margin-top: 15px;
  padding: 0;
}

.contact-form-area .alert-notification .alert-error {
  background: #e7e7e7 none repeat scroll 0 0;
  color: red;
  margin-top: 0;
  text-align: left;
}

.contact-form-area.bg-fixed .alert-notification .alert-error {
  background: #ffffff none repeat scroll 0 0;
  color: red;
  margin-top: 0;
  text-align: left;
}


.contact-us-area form.contact-form .alert-notification {
    margin-top: 30px;
    padding: 0;
}
.contact-us-area form.contact-form .alert-notification h3 {
    color: green;
    margin-bottom: 10px;
}

.contact-us-area form.contact-form .alert-notification .alert-msg .alert-error {
  background: #f4f4f4 none repeat scroll 0 0;
  color: red;
  margin-top: 30px;
}




/* ============================================================== 
     # Companies Area
=================================================================== */
.companies-area .row {
  align-items: center;
  align-self: center;
  display: flex;
  justify-content: center;
  vertical-align: middle;
}

.companies-area .clients-items img {
  width: auto;
  margin: auto;
  padding: 5px;
}

.companies-area .clients-items .owl-nav {
  margin: 0;
}

.companies-area .clients-items .owl-nav .owl-prev, 
.companies-area .clients-items .owl-nav .owl-next {
  background: transparent none repeat scroll 0 0;
  color: #4ac4f3;
  font-size: 30px;
  height: 35px;
  left: 0;
  line-height: 35px;
  margin-top: -18px;
  padding: 0;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 35px;
}

.companies-area .clients-items .owl-nav .owl-next {
  left: auto;
  right: 0;
}

.companies-area .info h3,
.companies-area .info h4 {
  font-weight: 600;
  line-height: 1.4;
}

.companies-area .info p {
  margin: 0;
}

/* ============================================================== 
     # Faq
=================================================================== */

.faq-items  img {
  max-width: 120%;
}

.faq-items .faq-content h2 {
  font-weight: 200;
  margin-bottom: 30px;
  line-height: 1.3;
  margin-top: -5px;
  text-transform: capitalize;
}

.faq-items .faq-content h2 strong {
  display: block;
  margin-top: 5px;
}

.faq-area .thumb {
  padding-right: 35px;
}

.accordion .card-header h4:after {
  font-family: "Font Awesome 5 Free";
  content: "\f107";
  position: absolute;
  right: 30px;
  top: 30px;
  font-weight: 600;
}

.accordion .card-header h4.collapsed:after {
  content: "\f105";
  font-weight: 600;
}

.faq-area .faq-content .card {
  border: 1px solid #dddddd;
  margin-bottom: 15px;
  overflow: inherit;
  background: #ffffff;
  border-radius: 5px;
}

.faq-area .faq-content .card:last-child {
  margin-bottom: 0;
}

.faq-area .faq-content .card .card-header {
  border: none;
  background: transparent;
  padding: 0;
}

.faq-area .faq-content .card .card-header h4 {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  padding: 30px;
  padding-right: 50px;
  cursor: pointer;
}

.faq-area .faq-content .card .card-body {
  padding-left: 30px;
  padding-top: 0;
}

.waves-shape-inc {
  position: relative;
  z-index: 1;
}

.waves-shape {
  background: rgba(0, 0, 0, 0) url("assets/img/waves-shape.svg") no-repeat scroll center bottom / cover;
  bottom: 0;
  float: left;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  width: 100%;
  z-index: 1;
}


/* ============================================================== 
     # Login 
=================================================================== */
.login-area, 
.login-area div {
    height: 100%;
}
.login-area div.login, 
.login-area div.login div {
    height: auto;
}

.login-area .login-box {
    display: table;
    width: 100%;
}
.login-area .login-box .login {
    display: table-cell;
    height: auto;
    vertical-align: middle;
}

.login-area .content {
    background: #ffffff none repeat scroll 0 0;
    border-radius: 5px;
    box-shadow: 0 0 10px #cccccc;
    padding: 30px;
    text-align: center;
}
.login-area .content img {
    margin-bottom: 30px;
}
.login-area .content input {
    border: 1px solid #e7e7e7;
    box-shadow: inherit;
}
.login-area .content button {
    background: #4ac4f3 none repeat scroll 0 0;
    border: medium none;
    border-radius: 5px;
    box-shadow: inherit;
    color: #ffffff;
    font-family: "Poppins",sans-serif;
    font-weight: 600;
    padding: 8px;
    text-transform: uppercase;
    width: 100%;
}
.login-area .content .sign-up {
    display: inline-block;
    margin-top: 30px;
}
.login-area .content .sign-up a {
    color: #4ac4f3;
    margin-left: 5px;
}

.login-area .form-group {
    width: 100%;
}

/* ============================================================== 
     # 404 
=================================================================== */
.error-page-area h1 {
  font-size: 150px;
  font-weight: 900;
  line-height: 120px;
  margin-bottom: 30px;
}

.error-page-area h2 {
  font-weight: 600;
  text-transform: uppercase;
}

.error-page-area a {
  margin-top: 15px;
}

/* ============================================================== 
     # Footer 
=================================================================== */

footer .f-item p {
  color: #999999;
}

footer .f-item > h3,
footer .f-item > h4 {
  font-weight: 600;
  margin-bottom: 25px;
  position: relative;
  text-transform: capitalize;
  z-index: 1;
}

footer .f-item .address .icon,
footer .f-item .address .info {
  display: table-cell;
  vertical-align: middle;
}

footer .f-item > a {
  margin-top: 10px;
}

footer .f-item .address .info {
  padding-left: 15px;
}

.footer-bottom .col-md-6:first-child {
  padding-left: 0;
}

.footer-bottom .col-md-6:last-child {
  padding-right: 0;
}

footer .f-item .address .info h5 {
  font-weight: 600;
  margin-bottom: 0;
  text-transform: uppercase;
  color: #232323;
}

footer .f-item .address li i {
  background: #edf5ff none repeat scroll 0 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  color: #4ac4f3;
  font-size: 25px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  width: 60px;
}

footer .f-item .address li span {
  color: #999999;
}

footer .f-item .address li {
  display: block;
  margin-top: 15px;
}

footer .f-item .address li:first-child {
  margin-top: 0;
}

footer .f-item > img {
  margin-bottom: 25px;
}

footer .f-item.link li {
  display: block;
}

footer .f-item.link li a {
  color: #999999;
  display: block;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
  padding-bottom: 10px;
  text-transform: capitalize;
}

footer .f-item.link li a:hover {
  color: #4ac4f3;
}

footer .footer-bottom {
  border-top: 1px solid #e7e7e7;
  margin-top: 40px;
  padding-top: 30px;
}

footer .footer-bottom p {
  color: #232323;
  margin: 0;
  text-transform: capitalize;
  line-height: 40px;
}

footer .f-item.link li:last-child a {
  margin: 0;
  padding: 0;
}

footer .footer-bottom p a {
  color: #4ac4f3;
  text-transform: capitalize;
}

footer.color-yellow .footer-bottom p a {
  color: #ff9800;
}

.footer-bottom h4 {
  font-weight: 400;
  margin: 0;
  text-transform: uppercase;
}

.footer-bottom .link li {
  display: inline-block;
}

.footer-bottom .link li a {
  color: #999999;
  display: inline-block;
  font-weight: 500;
  line-height: 40px;
  margin-left: 10px;
  padding-left: 15px;
  position: relative;
  text-transform: uppercase;
  z-index: 1;
}

.footer-bottom .link li a::before {
  background: #999999 none repeat scroll 0 0;
  content: "";
  height: 12px;
  left: 0;
  position: absolute;
  top: 15px;
  width: 1px;
}

.footer-bottom .link li:first-child a {
  margin: 0;
  padding: 0;
}

.footer-bottom .link li:first-child::before {
  display: none;
}

.footer-bottom .link li:first-child a::before {
  display: none;
}

.footer-bottom .link li a:hover {
  color: #4ac4f3;
}

/* ============================================================== 
     # Preloader 
=================================================================== */
.no-js #loader {
  display: none;
}

.js #loader {
  display: block;
  position: absolute;
  left: 100px;
  top: 0;
}

.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background: url(assets/img/preloader.gif) center no-repeat #fff;
  text-align: center;
}


/* ============================================================== 
     # Demo 
=================================================================== */

.demo-area.demo-conten.default-padding {
  padding-bottom: 30px;
}

.demo-area .single-item {
  position: relative;
  z-index: 1;
}

.demo-area .item {
    margin-bottom: 50px
}

.demo-area .single-item .info {
  padding: 15px 10px;
  text-align: center;
}
.demo-area .single-item .info h4 {
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    text-transform: uppercase;
    margin-top: 15px;
}
.banner-area .demo-banner h1 {
  font-weight: 700;
  margin-bottom: 30px;
}
.banner-area .demo-banner img {
  height: auto;
  margin-bottom: 50px;
  max-height: 80px;
}
.demo-area .def-heading h2 {
  font-weight: 900;
  margin: 30px 0;
  text-transform: uppercase;
  color: #333333;
}
.demo-footer {
  padding-bottom: 80px;
}

.introduction-area h2 span {
  color: #fd0060;
}

.introduction-area h4 {
  font-weight: 300;
  line-height: 30px;
}

.introduction-area h2 {
  color: #ffffff;
  display: inline-block;
  font-weight: 700;
  padding-bottom: 20px;
  position: relative;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.introduction-area h2::before {
  background: #fd0060 none repeat scroll 0 0;
  bottom: 0;
  content: "";
  height: 2px;
  left: 50%;
  margin-left: -10px;
  position: absolute;
  width: 50px;
}

.introduction-area h2::after {
  background: #ffffff none repeat scroll 0 0;
  bottom: 0;
  content: "";
  height: 2px;
  left: 50%;
  margin-left: -40px;
  position: absolute;
  width: 25px;
}

footer.demo .copyright {
  margin-top: 15px;
}
.demo-area .comming-soon.item img {
    opacity: 0.3;
}
.banner-area.demo-banner {
  padding: 50px 0;
}
.demo-area .site-heading {
  margin-bottom: 30px;
}
.demo-area img {
  background: #ffffff none repeat scroll 0 0;
  padding: 10px;
  box-shadow: -1px 3px 10px 0 rgba(0, 0, 0, 0.06);
}

.demo-area.demo-conten .single-item a {
    position: relative;
    display: block;
}

.demo-area.demo-conten .single-item a span {
    position: absolute;
    right: 15px;
    top: -14px;
    background: linear-gradient(90deg, rgba(30,85,189,1) 0%, rgba(67,126,235,1) 100%);
    color: #ffffff;
    padding: 1px 35px;
    border-radius: 30px;
    box-shadow: 0 0 10px #cccccc;
}

.logo {
  width: 58px;
}

.consultancy {
  padding-bottom: 30px;
}